.add-role-btn {
    background-color: dodgerblue;
    color: #ffffff;
    cursor: pointer;
    width: 50% !important;
    float: right;
}

.role-form {
    width: 50%;
    padding: 20px;
    margin: 2%;
}

.wrapper {
    width: 100%;
}

.open-roles, .close-roles {
    text-decoration: none;
    color: #000000;
    /* background-color: dodgerblue; */
    /* padding: 8px; */
    /* margin: 0 2%; */
    border-radius: 5px;
    cursor: pointer;
}

.open-roles:hover, .close-roles:hover {
    text-decoration: underline;
}


.view-roles{
    /* border: 2px solid red; */
    margin: 0 2%;
}