.add-role-btn {
    background-color: dodgerblue;
    color: #ffffff;
    cursor: pointer;
    width: 50% !important;
    float: right;
}

.role-form {
    width: 50%;
    padding: 20px;
    margin: 2%;
}

.wrapper {
    width: 100%;
}

.open-roles {
    text-decoration: none;
    color: #000000;
    /* background-color: dodgerblue; */
    /* padding: 8px; */
    /* margin: 0 2%; */
    border-radius: 5px;
    cursor: pointer;
}

.close-roles {
    background-color: #ED2939;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
}
.close-roles:hover {
    background-color: #D21F3C;
}
.open-roles:hover {
    text-decoration: underline;
}


.view-roles{
    /* border: 2px solid red; */
    margin: 0 2%;
}

.delete-role {
    background-color: #ED2939;
    padding: 8px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.delete-role:hover {
    background-color: #D21F3C;
}